<div class="container">
  <h1>STUPID COACHING</h1>
  <h3>Ask your coach anything</h3>
</div>
<div class="container">
  <form action="answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
